.App {
	height:100%;
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
	background:midnightblue;
}

.input {
	width:min(60vh, 90vw);
	height:min(60vh, 90vw);
	border-radius:min(5vh, 10vw);
	padding:min(5vh, 7vw);
	box-sizing:border-box;
	border:solid white 2px;
	background:darkslateblue;
}
